# Replace with your MongoDB Atlas connection string
MONGO_URI= mongodb+srv://dhanashreeakharade_db_user:P%40ssw0rd55@cluster0.1pt5ljm.mongodb.net/mod14-lab2?appName=Cluster0

# Choose a long, random string for your JWT secret
JWT_SECRET=yoursupersecretjwttoken